/* Reset Default */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
}

/* Register Container */
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(bgrRendang.jpg);
    background-size: cover;
}

/* Register Form */
.register-form {
    background: #00d1d8;
    padding: 2rem;
    border-radius: 15px;
    border: 2px solid #0099ff ;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.register-form h2 {
    margin-bottom: 20px;
    color: #000000;
    font-weight: 700;
}

/* Form Elements */
.register-form label {  
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-size: 0.9rem;
    color: #000000;
}

.register-form input {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    background: #fafafa;
    transition: 0.3s;
}

.register-form input:focus {
    border-color: #5cb85c;
    outline: none;
    background: #fff;
}

.register-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #2bff00;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.register-form button:hover {
    background: #0455b1;
    ;
}

.register-form .login {
    margin-top: 15px;
    font-size: 0.9rem;
    color: #000000;
}

.register-form .login a {
    color: #0a35ac;
    text-decoration: none;
    font-weight: bold;
}

.register-form .login a:hover {
    text-decoration: underline;
}

.register-form select {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-size: 0.9rem;
    color: #ddd;
}

#register-role {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    background: #fafafa;
    transition: 0.3s;
    color: #000000;
}
