/* Reset Default */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff73;
}

/* Login Container */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(bgrRendang.jpg);
    background-size: cover;
}

/* Login Form */
.login-form {
    background: #00d1d8;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    border: 2px solid #0099ff;
}

.login-form h2 {
    margin-bottom: 20px;
    color: #000000;
    font-weight: 700;
}

/* Form Elements */
.login-form label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-size: 0.9rem;
    color: #000000;
}

.login-form input {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    font-size: 1rem;
    background: #ffffff;
    transition: 0.3s;
}

.login-form input:focus {
    border-color: #5cb85c;
    outline: none;
    background: #000000;
}

.login-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #2bff00;
    color: rgb(3, 0, 0);
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.login-form button:hover {
    background: #044fb1;
    color: white;
    font-weight: bold;
}

.login-form .register {
    margin-top: 15px;
    font-size: 0.9rem;
    color: #000000;
}

.login-form .register a {
    color: #144897;
    text-decoration: none;
    font-weight: bold;
}

.login-form .register a:hover {
    text-decoration: underline;
    background-color: rgba(255,255,255,0.2);
    padding: 2px 5px;
    border-radius: 3px;
}


/* Tombol Back to Home terpisah dari login-container */
.back-to-home {
    display: inline-flex;
    align-items: center;
    padding: 6px 12px;
    font-size: 14px;
    background-color: rgba(6, 218, 255, 0.6); /* Menambahkan latar belakang transparan */
    border: 2px solid #ddd;
    color: #000407;
    text-decoration: none;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
    position: fixed;
    top: 20px;
    left: 20px;  /* Posisi tombol di sudut kiri atas */
}

.back-to-home i {
    margin-right: 6px;  /* Memberikan jarak antara ikon dan teks */
}

/* Efek hover pada tombol */
.back-to-home:hover {
    background-color: #0099ff;
    color: white;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
